.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 1rem;
}

.button{
    padding:5px 10px;
    border-radius: 3px;
}